name: Deploy to AWS Lambda

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Install dependencies into package folder
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt -t package

      - name: Copy source files into package
        run: |
          cp lambda_function.py package/
          cp inference.py package/

      - name: Zip everything
        run: |
          cd package
          zip -r ../function.zip .

      - name: Deploy to Lambda
        run: |
          aws lambda update-function-code \
            --function-name my-mlops-lambda \
            --zip-file fileb://function.zip
