name: Deploy to AWS Lambda

on:
  workflow_dispatch:   # manual trigger

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Package Lambda function
        run: |
          zip -r function.zip lambda_function.py requirements.txt inference.py

      - name: Deploy to Lambda
        run: |
          aws lambda update-function-code \
            --function-name my-mlops-lambda \
            --zip-file fileb://function.zip
